export(change.rate)
export(flow.duration)
export(group1)
export(group2)
export(group2Funs)
export(group3)
export(group4)
export(group5)
export(plotDischarge)
export(plotGroup1)
export(read.flow)
export(runmean.iha)
export(water.month)
export(water.year)
export(which.max.zoo)
export(which.min.zoo)
export(which.range.zoo)
export(yday2)
importFrom(caTools,runmean)
importFrom(lattice,panel.lines)
importFrom(lattice,panel.superpose)
importFrom(lattice,xyplot)
importFrom(lubridate,leap_year)
importFrom(lubridate,month)
importFrom(lubridate,yday)
importFrom(lubridate,year)
importFrom(plyr,'.')
importFrom(plyr,ddply)
importFrom(RColorBrewer,brewer.pal)
importFrom(zoo,coredata)
importFrom(zoo,index)
importFrom(zoo,is.zoo)
S3method(water.month,default)
S3method(water.month,numeric)
