export(flow.duration)
export(group1)
export(group2)
export(group3)
export(group4)
export(group5)
export(plot.group1)
export(plotDischarge)
export(read.flow)
importFrom(caTools,runmean)
importFrom(lattice,panel.lines)
importFrom(lattice,panel.superpose)
importFrom(lattice,xyplot)
importFrom(plyr,ddply)
importFrom(RColorBrewer,brewer.pal)
importFrom(zoo,coredata)
importFrom(zoo,index)
