export(flow.duration)
export(group1)
export(group2)
export(group3)
export(group4)
export(group5)
export(plotDischarge)
export(plotGroup1)
export(read.flow)
export(water.month)
export(water.year)
importFrom(caTools,runmean)
importFrom(lattice,panel.lines)
importFrom(lattice,panel.superpose)
importFrom(lattice,xyplot)
importFrom(lubridate,month)
importFrom(lubridate,year)
importFrom(plyr,'.')
importFrom(plyr,ddply)
importFrom(RColorBrewer,brewer.pal)
importFrom(zoo,coredata)
importFrom(zoo,index)
importFrom(zoo,is.zoo)
S3method(water.month,default)
S3method(water.month,numeric)
